/* //////////////////////////////////////////////////////////////// RESET //////////////////////////////////////////////////////////// */

* {
    box-sizing: border-box;
    outline: none;
}

h1,
h2,
h3 {
    margin: 0;
}

@font-face {
    font-family: 'KGInimitableOriginal';
    src: url('./font/KGInimitableOriginal.ttf');
}

@font-face {
    font-family: 'KGMissKindergarten';
    src: url('./font/KGMissKindergarten.ttf');
}

.centrage {
    margin: auto;
    max-width: 1024px;
}

.headerBkg {
    margin:0;
    padding:0;
    background: url('img/header_bkg.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1000;
    min-height: 1000px;
    background-position: bottom center;
}

.mainBkg {
    margin:0;
    padding:0;
    background: url('img/main_bkg.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1000;
    min-height: 1000px;
    background-position: top center;

}

.footerBkg {
    margin:0;
    padding:0;
    background: url('img/footer_bkg.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1000;
    min-height: 1000px;
    background-position: bottom center;
}

body {
    /* background: url('img/new_bkg.png') no-repeat center ;
    background-size:cover;  */
    /* width: 100%;
    height: 100%; */
    margin: 0 auto;
    font-family: 'KGInimitableOriginal', Arial, Helvetica, sans-serif;
    font-size: .9em;
    letter-spacing: .3em;
    color: #ffff;
    position: relative;
}

header {
    text-align: center;
    position: relative;
    height: 100vh;
}

footer, main{
    padding-top: 5%;
}

a {
    text-decoration: none;
}

.logo {
    padding-top: 5%;
    margin-bottom: 10%;
    width: 100%;
}


header>h1,
h2 {
    display: inline-block;
    background-color: #6ac4d6;
    margin: 0 auto;
    padding: .5em;
}

header>h2 {
    margin-top: 1.675em;
    background-color: #383c48;
    position: relative;
    padding: 0.93em .8em;
}

header>h2::before {
    content: url('img/bandeau.png');
    position: absolute;
    top: 0;
    left: -33px;
}

header>h2::after {
    content: url('img/bandeau.png');
    position: absolute;
    transform: scaleX(-1);
    top: 0;
    right: -33px;
}

header>p {
    font-size: 1.5em;
    margin: 3% 0 0 0;;
}

aside {
    font-size: 1.8em;
}

.navigation {
    text-align: center;
    margin-top: 4%;
    /* position: absolute;
    bottom: 4%;
    transform: translateX(-50%);
    left: 50%; */
}

.scroller {
    background: url('img/arrow_scroll.png');
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 3%;
}

.flow {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}

.nuage {
    animation: slidein 40s linear infinite;
    position: absolute;
    left: -1920px;
    max-height: 960px;
}

.nuage0 {
    animation: slidein 40s linear forwards;
    position: absolute;
    left: 0px;
    max-height: 960px;
}

.nuage1 {
    position: absolute;
    left: -1920px;
    animation: slidein 40s linear 1s infinite;
    max-height: 960px;
}

.nuage2 {
    position: absolute;
    left: -1920px;
    animation: slidein 30s linear 3s infinite;
    max-height: 960px;

}

.nuage3 {
    position: absolute;
    left: -1920px;
    animation: slidein 40s linear 15s infinite;
    max-height: 960px;
}

.nuage4 {
    position: absolute;
    left: -1920px;
    animation: slidein 30s linear 16s infinite;
    max-height: 960px;
}

.nuage5 {
    position: absolute;
    left: -1920px;
    animation: slidein 40s linear 17s infinite;
    max-height: 960px;
}

@keyframes slidein {
    from {
        transform: translatex(0);
    }

    to {
        transform: translateX(3840px);
    }
}

/* ////////////////////////////////////// MAIN //////////////////////////////////////////////// */

main {
    text-align: center;
    position: relative;
    height: 100vh;
}

main>h3 {
    font-size: 2em;
    line-height: 2em;
}

main>h3>span {
    color: #fbc580;
}

main>span {
    font-size: 1.5em;
    display: block;
}

main span:nth-child(2) {
    margin: 3% 0;
}

main span:nth-child(3) {
    font-size: 1.8em;
    color: #635b8e;
    text-decoration: underline;
}

main>form {
    text-align: center;
    display: block;
    margin: 60px auto 0 auto;
}

main>form>input {
    border-radius: 3.5px;
    border: none;
    padding: 0.5em;

}

main input,
main button {
    display: block;
    margin: 0;
    width: 430px;
    line-height: 2em;
    margin: auto;
}

main input {
    margin: 0 auto 4% auto;
}

.radio {
    display: inline-block;
    width: 33px;
}

.condition {
    font-size: 12px;
    letter-spacing: 0.09em;
    display: inline-block;
    margin-bottom: 7%;
    color: white;
}

svg {
    position: absolute;
    top: 60px;
    left: -100px;

}

/* .subscribe {
    background: #6ac4d6;
    color: #ffff;
    border: none;
    font-size: 31px;
    font-family: 'KGInimitableOriginal', Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 300px;
} */

.button:focus {
    outline: none;
  }
  
  .button {
    font-family: 'KGInimitableOriginal', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: 300px;
    min-width: 150px;
    max-width: 300px;
    background: none;
    position: relative;
    z-index: 1;
    letter-spacing: 2px;
    color: #fff;
    font-weight: bold;
    font-size: 31px;
    border: 4px solid;
    cursor: pointer;
  }
  
  .button::after {
    content: "";
    background-color: transparent;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    opacity: 0;
    color: #3f51b5;
    z-index: -1;
  }
  
  .button:hover::after {
    opacity: 1;
    background-color: #6ac4d6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .button,
  .button:after {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  
  .button:hover {
    border: 4px solid #6ac4d6;
  }

/* ////////////////////////////////////// FOOTER //////////////////////////////////////////////// */


footer>article {
    /* width: 1020px; */
    background-color: #756f9ec9;
    padding: 35px 85px;
    clear: both;
}

footer>article>h3,
footer>article>p:last-child {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.8em;

}

.story {
    font-family: 'KGMissKindergarten';
    width: 45%;
    float: left;
    margin: 35px 25px 35px 0;
    letter-spacing: 1px;
    text-align: justify;
}

footer>article>p:last-child {
    clear: both;
    color: #f7c383;
    font-size: 1.5em;
}

.footer {
    background-color: #635b8e;
    text-align: center;
    line-height: 4em;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer .scroller {
    transform: rotate(180deg);
}

.footer>p {
    margin: 0;
}

/* ////////////////////////////////////// MODAL //////////////////////////////////////////////// */

.modal-window {
    position: fixed;
    background-color: #70becf50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window > div {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    color: #635b8e;
    border-radius: 3.5px;
  }
  .modal-window h1 {
    font-size: 2em;
    margin: 0 0 15px;
    color: #635b8e;
  }
  .modal-close {
    color: #635b8e;
    line-height: 50px;
    font-size: 2em;
    position: absolute;
    right: 25px;
    text-align: center;
    top: 12px;
    text-decoration: none;
  }
.reglementation{
    text-align: center;
    font-family: 'KGMissKindergarten', sans-serif;
    font-size: .8em;
}
svg{
    position: absolute;
    top: 1400px;
    max-height: 960px;
}
.star{
    opacity: 1;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
    animation: shine 2.2s linear infinite;
}

.star1{
    animation-delay: .1s;
}
.star2{
    animation-delay: .5s;
}
.star3{
    animation-delay: .8s;
}
.star4{
    animation-delay: 1.1s;
}
.star5{
    animation-delay: 1.4s;
}
.star6{
    animation-delay: 1.7s;
}
.star7{
    animation-delay: 2s;
}
.star8{
    animation-delay: 2.2s;
}
.star9{
    animation-delay: 2.5s;
}
.star10{
    animation-delay: 2.8s;
}
.star11{
    animation-delay: 3s;
}

@keyframes shine {
    0%{
        opacity: 1;
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
        transform: skewY(0rad);
    }
    50%{
        opacity: 0;
        box-shadow: -1px 2px 5px 1px rgba(158, 113, 113, 0);
        transform: skewY(.001rad);
    }
    100%{
        opacity: 1;
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
        transform: skewY(0rad);
    }
}

@media screen and ( max-width: 900px) {

    html{
        min-width: 348px;
    }
    .logo img{
        width: 50%;
    }
    header>h1{
        font-size: .8em;
        margin: 0 10%;
        line-height: 2em;
    }
    header>h2{
        margin: 0 10%;
        margin-top: 1.675em;
        padding: .85em .8em;
        font-size: .8em;
        line-height: 2em;
        min-height: 66px;
        max-width: 285px;
    }
    header>h2::before {
        left: -32px;
    }
    
    header>h2::after {
        right: -32px;
    }
    header>p{
        font-size: .7em;
        margin: 6.675em 3em;
    }
    aside {
        font-size: 1.5em;
    }
    main>h3{
        font-size: 1em;
        line-height: 2em;
    }
    main>span {
        font-size: 1em;
    }
    main span:nth-child(3) {
        font-size: 1.5em;
    }
    main>form>input{
        max-width: 285px;
    }
    .navigation {
        margin-top: 14%;
    }
    main span:nth-child(2) {
        margin: 7% 0;
    }
    main span:nth-child(3) {
        font-size: 1em;
        font-weight: bold;
    }
    .condition {
        font-size: .6em;
    }
    .button {
        width: 150px;
        font-size: 1em;
    }
    main>form {
        margin: 42px auto 0 auto;
    }
    footer>article {
        padding: 1em 1.5em;
    }
    .story {
        font-family: 'KGMissKindergarten';
        width: 100%;
        margin: 0 auto;
        letter-spacing: 1px;
        text-align: justify;
        font-size: .7em;
    }
    footer>article>h3{
        font-size: .8em;
        line-height: 1.5em;
        margin-bottom: 1em;
    }
    footer>article>p:last-child {
        font-size: .7em;
        margin-top: 1em;
    }
}